<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <h1>Prediction</h1>

      {%if pred ==1%}
      <h1>Its are Fake</h1>

      {%else%}
      <h1>Its Legit</h1>

      {%endif%}

      <p>We don't claim it to be perfect</p>
      <br />
      <a href="/">Back</a>
    </div>
  </body>
</html>
